# Python compiled files #
#########################
**/*.pyc

# Temporary files #
###################
*.sw*
*.pyc
*.DS_Store

# Results Folder #
##################
pyretic/evaluations/results

# frenetic #
###########
frenetic

# netflow/sflow packet capture dumps #
######################################
pyretic/scratch/latest-dump.txt
pyretic/scratch/nfcapd.*
